a:hover {
    cursor: pointer !important;
}

.alert-Fsc {
    color: #fff;
    background-color: #113c68;
    border-color: #113c68;
}

.table_small td, .table_small th {
    padding: 0.20rem !important;
    font-size: 12px !important;
    text-align: center;
}

.x_small {
    font-size: 12px !important;
}

.fileupload_mt {
    margin-top: 1.8rem !important;
}

.active {
    display: block !important;
}


.alert-Fsc {
    background-color: #fff2b3 !important;
    border: 1px solid #103b68 !important;
    color: #103b68 !important;
}

.Header {
    background-color: #f1faff !important;
    border: 1px solid #12186b !important;
    color: #000 !important;
}

.nav-pills > a {
    border: 1px solid #ccc !important;
    background: #fff !important;
}

.nav-item {
    border: #ccc !important;
}

.page-title-box {
    margin: 0 -27px 5px !important;
}

.padding_off {
    padding: 0px !important;
}

.content-page {
    padding: 70px 5px 65px 5px !important;
}
